<nav class="navbar navbar-expand-lg navbar-light header">
  <a class="navbar-brand" href="#">FILMS & EAT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button mat-button (click)="routerLinkFilm()">Films</button>
      </li>
      <li class="nav-item">
        <button mat-button routerLink="/plats" routerLinkActive="active">Plats</button>
      </li>
      <li class="nav-item">
        <form [formGroup]="myControl" (submit)="handleSearch($event)">
          <mat-form-field class="example-full-width">
            <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"
                   [(ngModel)]="searchQuery">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions" [value]="option.name ? option.name : option.title"
                          (click)="linkToFilm(option.id)">
                {{option.name ? option.name : option.title}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
        </form>
      </li>

      <li class="account">
        <div *ngIf="this.isUserConnected()" class="btn-group btn-block">

          <div class="panier" (mouseenter)="showCart(true)" (mouseleave)="showCart(false)" (click)="openPanier()">
            <i class="material-icons"
               [matBadge]="getQuantite()"
               matBadgePosition="before"
            >
              shopping_basket
            </i>
          </div>


          <div class="panier-content" *ngIf="cartDisplay" (mouseenter)="showCart(true)" (mouseleave)="showCart(false)">
            <div class="text-center">
              <h5>Panier</h5>
            </div>
            <mat-divider class="panier-content-divider"></mat-divider>
            <mat-card *ngFor="let film of filmsList" class="panier-content-card">
              <mat-card-header>
                <div mat-card-avatar class="film-card">
                  <img [src]="getFilmImg(film.poster_path) ? getFilmImg(film.poster_path) : ''" class="film-img-mini">
                </div>
                <mat-card-title>{{film.original_title}}</mat-card-title>
                <mat-card-subtitle>Prix : 6</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <mat-card *ngFor="let plat of plats" class="panier-content-card">
              <mat-card-header>
                <div mat-card-avatar class="plat-card">
                  <img [src]="plat.img ? plat.img : ''" class="film-img-mini">
                </div>
                <mat-card-title>{{plat.nomPlat}}</mat-card-title>
                <mat-card-subtitle>Prix : ̣{{plat.prix}}</mat-card-subtitle>
                <mat-card-subtitle>Quantité : {{plat.quantite}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <div class="total-panier text-center">
              Total : {{getTotal()}} €
            </div>
          </div>



          <div class="dropdown">
            <button type="button" class="btn gglConnect float-right" data-toggle="dropdown">
              <img [src]="this.user.photoURL" class="p-2" width="40" height="40" alt="imgProfile"/>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" routerLink="/commandes" routerLinkActive="active">Mes commandes</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="deLoginGoogle()">Déconnexion</a>
            </div>
          </div>
        </div>
        <button *ngIf="!this.isUserConnected()" type="button" class="btn keywordButton account" (click)="loginGoogle()">
          Connexion
        </button>
      </li>
    </ul>
  </div>
</nav>
