.header {
  background: #ffffff;
}
.navbar-brand {
  font-size: x-large;
  font-weight: bolder;
}
.keywordButton {
  color: #a3bfca;
  background-color: transparent;
  background-image: none;
}
.keywordButton:hover {
  color: #fff;
  background-color: #a3bfca;
  border-color: #a3bfca;
}
.input-group {
  padding: 0px 6%;
}
.account {
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: unset;
}
.account > div {
  height: 100%;
}
.p-2 {
  padding: 0 !important;
}
.gglConnect {
  padding: 0;
  right: 0;
}
.dropdown-menu{
  border: 0;
  border-radius: 0;
}
//.input-group > .form-control:focus {
//  width:80%;
//  cursor: auto;
//}
.panier {
  display: flex;
}
.panier > i {
  margin: auto;
  padding-right: 20px;
  font-size: 35px;
  cursor: pointer;

}
.panier-content {
  position: absolute;
  border: 0;
  border-radius: 0.5rem;
  float: none;
  display: block;
  right: 0;
  left: auto;
  top: 100%;
  z-index: 1000;
  min-width: 20rem;
  padding: 10px;
  margin: 0.5rem 0 0;
  font-size: 1rem;
  color: #626262;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.2)!important;
}

.panier-content-card {
  padding: 3%;
  //margin: 5px 0;
  box-shadow: none;
  //border: solid #d0d0d0 0.5px;
}
.panier-content-card .mat-card-title {
  font-size: 18px;
}
nav {
  padding: 0 10px;
}
.nav-item {
  display: flex;
  margin: 0 5px;
}
.dropdown {
  display: flex;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #a3bfca !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #a3bfca !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #a3bfca !important;
}
.mat-badge-content {
  color: #ffffff;
  background: #8fa4ad;
}
.total-panier {
  margin-top: 10px;
  //margin-left: 10px;
}
.panier-content-divider {
  margin-bottom: 10px;
}
.film-img-mini {
  max-height: 70px;
  max-width: 100%;
}
.panier-content-card {
  display: flex;
}
.plat-card {
  display: flex;
}
.film-card {
  display: flex;
  height: 60px;
}
.film-img-mini {
  margin: auto 0;
}
button.mat-button.mat-button-base {
  border-radius: unset;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #8fa4ad;
}
