.commande-list-item {
  background: white;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  width: 100%;
}
.commande-list {
  width: 100%;
  margin: 0 auto;
}
.commande-container {
  display: flex;
  min-height: 87vh;
}
.commande-container-row {
  margin: 0 auto;
  padding-bottom: 20px;
}
.commande-see-more {
  margin: auto;
}
.commande-see-more-container {
  display: flex;
}
.film-img-mini {
  max-height: 100px;
  max-width: 100px;
}
.film-line-text {
  margin-left: 20px;
}
.line-list {
  margin: 20px;
}
.commande-panier-list-item {
  background: white;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  width: 100%;
}
.plat-img-mini {
  max-height: 100px;
  max-width: 100px;
}
.plat-line-text {
  margin-left: 20px;
}
.titleCommande {
  margin: 2% 0;
}
