<div class="main-container commande-container">
  <div class="commande-container-row col-7">
    <div class="row">
      <mat-list class="commande-list">
        <div class="text-center titleCommande">
          <h3>Mes commandes</h3>
        </div>
        <div *ngFor="let c of commandes">
          <!--<mat-icon mat-list-icon>folder</mat-icon>-->
          <div class="commande-list-item row">
            <div class="col-8">
              <div>Date de commande : {{getTime(c.dateCommande)}} </div>
              <div>Montant total : {{c.montant}} € </div>
              <div>Adresse livraison : {{buildAdresseString(c.adresseLivraison)}}</div>
            </div>
            <div class="col commande-see-more-container">
              <button mat-button class="commande-see-more" (click)="openSeeMore(c)">Voir plus</button>
            </div>
          </div>
          <div *ngIf="c.openSeeMore" class="commande-panier-list-item">
            <h4 *ngIf="c.filmsData.length > 0">Films :</h4>
            <div class="row line-list"  *ngFor="let f of c.filmsData">
              <div class="col-12"><a routerLink="/films/{{f.id}}" routerLinkActive="active"><img [src]="getFilmImg(f.poster_path) ? getFilmImg(f.poster_path) : ''" class="film-img-mini"></a><span class="film-line-text">{{f.original_title}}</span></div>
            </div>
            <h4 *ngIf="c.platsData.length > 0">Plats :</h4>
            <div class="row line-list"  *ngFor="let p of c.platsData">
              <div class="col-12"><a routerLink="/plats/{{p.noPlat}}" routerLinkActive="active"><img [src]="p.img ? p.img : ''" class="plat-img-mini"></a><span class="plat-line-text">{{p.quantite}}  {{p.nomPlat}}</span></div>
            </div>
          </div>
        </div>
      </mat-list>
    </div>
  </div>
</div>
