<footer class="page-footer font-small footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#">Lyu/Pauze/Phan/Gotrani</a>
  </div>
  <!-- Copyright -->

</footer>
