.main-container {
  // margin: 0 14%;
  background-color: #cdd6db75;
  height: auto;
}
.cardfilm{
  background: #b7cad294;
  margin: 0 10%;
}
mat-chip a {
  color: black;
  text-decoration: none;
}
.film-button-ajouter {
  color: #fff;
  background-color: #A5BCC7;
  position: absolute;
  bottom: 3%;
  left: 0;
}
.casting-tab {
  overflow: hidden;
}
.film-reviews {
  margin: 20px;
}
.film-favoris {
  position: absolute;
  bottom: 3%;
}
.breadcrumb {
  height: 10%;
  border-radius: 0;
  width: 70%;
  background-color: transparent;
}
.breadcrumb-item a {
  color: black;
}
.mat-tab-header {
  background: whitesmoke;
}
.mat-tab-labels {
  background: beige;
}
.casting-review {
  margin: 0 14%;
  margin-top: 1%;
}
.castIMG {
  width: 150px;
  height: 250px;
  box-shadow: 2px 2px 5px #6c7a89;
}
li a {
  color: #6c757d;
}
.film {
  //background: rgba(255, 255, 255, 0.75);
  border-radius: 0.5%;
  padding: 1%;

}

.filmContainer{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-width: 100%;
}

.img {
  padding: 0;
}
.filmTrailer {
  text-align: center;
}
iframe {
  margin: 5% 0;
}
.film-img {
  box-shadow: 2px 2px 5px #6c7a89;
  width: 80%;
  height: 80%;
  margin: 10%;
}
.film-title {
  margin-top: 20px;
}
.film-price {
  margin-top: 20px;
  text-align: right;
  font-size: 30px;
  padding-right: 5%;
}
.mat-divider {
  height: 5%;
}
.film-description {
  display: inline-block;
  width: 130%;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;
  padding: 0;
  height: 15%;
  background: #79FAC4;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  visibility: hidden;

}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  margin :20px auto;
}

.hovereffect:hover img {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  float: left;
  margin: 0px;
  display: inline-block;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}
.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
  color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
  visibility: visible;
}

.hovereffect p.icon-links a span:before {
  display: inline-block;
  padding: 8px 10px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.mat-tab-label.mat-tab-label-active {
  background-color: #cdcdcd !important;
}
::ng-deep .mat-ink-bar {
  background-color: rgba(255, 255, 255, 0.46) !important;
}
.tab {
  min-height: 800px;
}
.casting-tab {
  margin-left: 0;
  margin-right: 0;
}
