<div class="main-container" *ngIf="(this.movie$ | async) as movie">
  <div class="filmContainer" [style.background-image]="getBackground('https://image.tmdb.org/t/p/w1400_and_h450_face/'+ movie.backdrop_path)">


    <div class="row cardfilm">
      <div class="col">
      </div>
      <div class="col-10 film">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Accueil</a></li>
            <li class="breadcrumb-item" aria-current="page"><a routerLink="/films" routerLinkActive="active">Films</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink ="/films/{{movie.id}}" routerLinkActive="active">{{movie.original_title}}</a></li>
          </ol>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col-4 img">
              <img [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/original/' + movie.poster_path : '/assets/img/default-placeholder.png'" class="film-img">
            </div>
            <div class="col-6">
              <div class="film-title">
                <h4 class="card-title">{{movie.original_title}}</h4>
              </div>
              <div class="film-genre">
                <b>Genres : </b>
                <p>
                  <mat-chip-list >

                      <mat-chip *ngFor="let genre of movie.genres">
                        <a routerLink="/films/" [queryParams]="{genre:genre.id}">{{genre.name}}</a>
                      </mat-chip>

                  </mat-chip-list>
                </p>
                <!--<span *ngFor="let genre of movie.genres">{{genre.name}} </span>-->
              </div>
              <div>
                <b>Date de sortie : </b>{{movie.release_date}}
              </div>
              <b>Description :</b>
              <div class="film-description">
                {{movie.overview}}
              </div>
<!--              <div class="film-favoris">
                <i class="fa fa-star">
                </i><mat-icon>favorite_border
              </mat-icon>
              </div>-->
            </div>
            <div class="col-2 film-price">
              10€
              <button mat-button class="film-button-ajouter" [disabled]="!userId" (click)="ajouterFilmPanier(movie)"  >Ajouter au panier</button>
            </div>

          </div>
        </div>

      </div>
      <div class="col">
      </div>
    </div>


  </div>

  <div class="row casting-review">
    <div class="col-12 tab">
      <mat-tab-group mat-stretch-tabs>

        <mat-tab label="Casting" class="cast">
          <div class="row casting-tab" *ngIf="credits">
            <div class="col" *ngFor='let c of credits.slice(0, 8)'>
              <div class="hovereffect">
                <img class="img-responsive" [src]="imageCreditDefault(c.profile_path)" alt="" style="width: 200px; height: 300px">
                <div class="overlay">
                  <h2>{{c.name}}</h2>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Reviews">
          <div  *ngFor="let r of reviews" class="film-reviews">
            <mat-card>
              <mat-card-title>Ecrit par {{r.author}}</mat-card-title>
              <mat-card-subtitle>{{r.content}}</mat-card-subtitle>
            </mat-card>
          </div>
        </mat-tab>


        <mat-tab label="Trailer">
          <div class="filmTrailer" *ngIf="videos">
            <iframe *ngIf="videos[0]" width="560" height="315" [src]="transformeVideo('https://www.youtube.com/embed/' + videos[0].key)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" ></iframe>
          </div>
        </mat-tab>

        <mat-tab label="Films similaires" class="cast">
          <div class="row casting-tab" *ngIf="filmsSimilaires">
            <div class="col" *ngFor='let filmSimi of filmsSimilaires.slice(0, 8)'>

              <div class="hovereffect">
                <a routerLink="/films/{{filmSimi.id}}" routerLinkActive="active">
                  <img class="img-responsive" [src]="imageCreditDefault(filmSimi.poster_path)" alt="" style="width: 200px; height: 300px">
                </a>
                <div class="overlay">
                  <h2>{{filmSimi.original_title}}</h2>
                </div>
              </div>

            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>

<div class="divider"></div>
