.carouselHeader {
  margin: 2% 12% 0 12%;
}
.carouselTitle {
  font-size: 2rem;
}
.carouselTitle :hover {
  transform: scale(1.5);
}

#zoneCarousel {
  background-color: #cdd6db75;
  min-height: 87vh;
}
#zoneCarousel a {
  color: black;
  text-decoration: none;
}
.col-3 .float-left img {
  object-fit: cover;
}
