
<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>
<div id="zoneCarousel" *ngIf="!isLoading">
  <div class="navbar carouselHeader">

    <a routerLink="/films" routerLinkActive="active">
      <div class="navbar-brand carouselTitle">Films populaires</div>
    </a>

      <a>
        <div class="navbar-text"><button mat-button routerLink="/films" routerLinkActive="active">Tout voir</button></div>
      </a>
  </div>

  <div class="container text-center my-3" *ngIf="films$">
    <div id="recipeCarousel1" class="carousel slide w-100" data-ride="false">
      <div class="carousel-inner w-100" role="listbox">
        <div class="carousel-item active row no-gutters">
          <div class="col-3 float-left" *ngFor="let f of filmIMG1">
            <a routerLink="/films/{{f.id}}" routerLinkActive="active">
              <img [src]="'https://image.tmdb.org/t/p/original/' + f.poster_path" class="img-fluid" style="width: 98%; height: 100%">
            </a>
          </div>
        </div>

        <div class="carousel-item row no-gutters">
          <div *ngFor="let f of filmIMG2" class="col-3 float-left">
            <a routerLink="/films/{{f.id}}" routerLinkActive="active">
              <img class="img-fluid" [src]="'https://image.tmdb.org/t/p/original/' + f.poster_path" style="width: 98%">
            </a>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#recipeCarousel1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#recipeCarousel1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="divider"></div>

  <div class="navbar carouselHeader">

    <div class="navbar-brand carouselTitle"><a routerLink="/plats" routerLinkActive="active">Plats</a></div>

    <a>
      <div class="navbar-text"><button mat-button routerLink="/plats" routerLinkActive="active"><a routerLink="/plats" routerLinkActive="active">Tout voir</a></button></div>
    </a>
  </div>

  <div class="container text-center my-3" *ngIf="plats$">
  <div id="recipeCarousel2" class="carousel slide w-100" data-ride="false">
    <div class="carousel-inner w-100" role="listbox">
      <div class="carousel-item active row no-gutters">
        <div class="col-3 float-left" *ngFor="let p of platIMG1">
          <app-img-plat [data]="p"></app-img-plat>
        </div>
      </div>
      <div class="carousel-item row no-gutters">
        <div *ngFor="let p of platIMG2" class="col-3 float-left">
          <app-img-plat [data]="p"></app-img-plat>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#recipeCarousel2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#recipeCarousel2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</div>
<div class="divider"></div>
