<!-- Fait par Yanan
<div class="col-xl-6 col-sm-12 col-12 text-center card-row" *ngFor="let plat of (plats$ | async)">
  <div>{{plat.nomPlat}}</div>
</div>-->

<!-- Tests par Raph -->
<div class="container">

  <!-- Grosse card blanche globale -->
  <div class="row rounded bg-white mt-xl-3 mb-xl-3 mt-sm-2 mb-sm-2 mt-2 mb-2 p-4 justify-content-center">

    <!--Les cards-->
    <div class="col-xl-4 px-4 py-3" *ngFor="let unPlat of (plats$ | async)">
      <app-card-plat [data]="unPlat"></app-card-plat>
    </div>

  </div>

  <!-- Pagination -->
  <div class="row justify-content-center">
    <ul class="pagination justify-content-center">
      <!--
      -- Affichage du bouton 'First'
      -->
      <li class="page-item">
        <!-- Affichage du bouton 'First' en actif si la page actuelle est la première -->
        <a class="page-link" *ngIf="pageIndexActuel != 1" aria-label="First" (click)="this.donneMoiDesPlats({pageIndex: 1,
                                                                                                                  pageSize: this.nbItemsSurPages,
                                                                                                                  length: this.nbItemsSurPages})">
          <span aria-hidden="true">&laquo; &laquo;</span>
          <span class="sr-only">First</span>
        </a>

        <!-- Affichage du bouton 'First' en inactif si la page actuelle n'est pas la première -->
        <a class="page-link" *ngIf="pageIndexActuel == 1" aria-label="First" disabled="disabled">
          <span aria-hidden="true">&laquo; &laquo;</span>
          <span class="sr-only">First</span>
        </a>
      </li>

      <!--
      -- Affichage du bouton 'Previous'
      -->
      <li class="page-item">
        <!-- Affichage du bouton 'Previous' en inactif si la page actuelle est la première -->
        <a class="page-link" *ngIf="pageIndexActuel != 1" aria-label="Previous" (click)="this.donneMoiDesPlats({pageIndex: pageIndexActuel - 1,
                                                                                                                      pageSize: this.nbItemsSurPages,
                                                                                                                      length: this.nbItemsSurPages})">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>

        <!-- Affichage du bouton 'Previous' en actif si la page actuelle n'est pas la première -->
        <a class="page-link" *ngIf="pageIndexActuel == 1" aria-label="Previous" disabled="disabled">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <!-- Affichage des boutons 'Numéro' -->
      <li class="page-item" *ngFor="let page of tabIndexPagesPourPagination" >
        <!-- Affichage du bouton 'X' en inactif si la page actuelle est la n°X -->
        <a class="page-link pageActuelle" *ngIf="page != '...' && page == pageIndexActuel" disabled="disabled">
          {{page}}
        </a>

        <!-- Affichage du bouton 'X' en actif si la page actuelle n'est pas la n°X -->
        <a class="page-link" *ngIf="page != '...' && page != pageIndexActuel" (click)="this.donneMoiDesPlats({pageIndex: page,
                                                                                                                pageSize: nbItemsSurPages,
                                                                                                                length: nbItemsSurPages})">
          {{page}}
        </a>

        <!-- Affichage du bouton '...' qui est inactif (juste déco) -->
        <a class="page-link" *ngIf="page == '...'" disabled="disabled">
          {{page}}
        </a>
      </li>

      <!--
      --  Affichage du bouton 'Next'
      -->
      <li class="page-item">
        <!-- Affichage du bouton 'Next' en actif si la page actuelle est la dernière -->
        <a class="page-link" *ngIf="pageIndexActuel != this.nbPagesMax" aria-label="Next"
           (click)="this.donneMoiDesPlats({pageIndex: pageIndexActuel + 1,
                                                 pageSize: this.nbItemsSurPages,
                                                 length: nbItemsSurPages})">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>

        <!-- Affichage du bouton 'Next' en inactif si la page actuelle est la dernière -->
        <a class="page-link" *ngIf="pageIndexActuel == this.nbPagesMax" aria-label="Next" disabled="disabled">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>

      <!--
      -- Affichage du bouton 'Last'
      -->
      <li class="page-item">
        <!-- Affichage du bouton 'Last' en inactif si la page actuelle est la première -->
        <a class="page-link" *ngIf="pageIndexActuel != this.nbPagesMax" aria-label="First"
           (click)="this.donneMoiDesPlats({pageIndex: nbPagesMax,
                                             pageSize: this.nbItemsSurPages,
                                             length: this.nbItemsSurPages})">
          <span aria-hidden="true">&raquo; &raquo;</span>
          <span class="sr-only">First</span>
        </a>

        <!-- Affichage du bouton 'Last' en actif si la page actuelle n'est pas la première -->
        <a class="page-link" *ngIf="pageIndexActuel == nbPagesMax" aria-label="First" disabled="disabled">
          <span aria-hidden="true">&raquo; &raquo;</span>
          <span class="sr-only">First</span>
        </a>
      </li>
    </ul>
  </div>
</div>










