
<div class="main-container" *ngIf="(plat$|async) as p">
<div class="divider"></div>
  <div class="row plat-row">
    <div class="col">
    </div>
    <div class="col-10">
       <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/accueil" routerLinkActive="active">Accueil</a></li>
            <li class="breadcrumb-item" aria-current="page"><a routerLink="/plats" routerLinkActive="active">Plats</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/plats/{{this.id}}"
                                                                      routerLinkActive="active">{{p.nomPlat}}</a></li>
          </ol>
        </nav>

        <div class="row">
          <div class="col-6 img" *ngIf="img">
            <img [src]="img" class="plat-img">
          </div>
          <div class="col-2">
            <div class="film-title">
              <h4 class="card-title">{{p.nomPlat}}</h4>
            </div>
            <div class="plat-ingredients">
              <p>Ingredients : </p>
              <p>
                <mat-chip-list>
                  <mat-chip *ngFor="let i of p.ingredients">{{i}}</mat-chip>
                </mat-chip-list>
              </p>
              <!--<span *ngFor="let genre of movie.genres">{{genre.name}} </span>-->
            </div>
          </div>
          <div class="col-2 plat-price">
            {{p.prix}}€
            <button mat-button class="plat-button-ajouter" (click)="openDialog(p)" [disabled]="!userId">Ajouter au panier</button>
          </div>
        </div>


    </div>
    <div class="col">
    </div>
  </div>
</div>

