.plat-img {
  width: 100%;
}
.breadcrumb {
  height: 10%;
  border-radius: 0;
  width: 70%;
  background-color: transparent;
}
.breadcrumb-item a {
  color: black;
}
.plat-price {
  margin-top: 20px;
  text-align: right;
  font-size: 30px;
  padding-right: 5%;
}
.plat-button-ajouter {
  color: #fff;
  background-color: #A5BCC7;
  position: absolute;
  bottom: 3%;
  left: 0;
}
.plat-row {
  padding: 1% 0;
  margin: 0 10%;
  background: rgb(232, 236, 238);
  height: -webkit-fill-available;
}
.plat-img{
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
