.header {
  background: #ffffff;
}

.keywordButton:hover {
  color: #fff;
  background-color: #a3bfca;
  border-color: #a3bfca;
}
.input-group {
  padding: 0px 6%;
}
.account {
  position: absolute;
  right: 0;
  margin: 0 1%;
}

.pageActuelle {
  background-color: #d1dbe5;
}

.bg-white {
  background-color: #cdd6db75 !important;
}
nav.navbar.navbar-expand-lg.navbar-light.header {
  background: #cdd6db75;
}
