<nav class="navbar navbar-expand-lg navbar-light header">
  <div class="navbar-brand" >Filtrer</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <mat-form-field>
          <mat-label>Genre</mat-label>
          <mat-select [(value)]="selectedGenre" (selectionChange)="onGenreChange($event.value)">
            <mat-option class="mat-primary">Aucun</mat-option>
            <mat-option *ngFor="let genre of genres" value="{{genre.id}}">{{genre.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </li>

    </ul>
  </div>
</nav>


<div class="container">

  <!-- Grosse card blanche globale -->
  <div class="row rounded bg-white mt-xl-3 mb-xl-3 mt-sm-2 mb-sm-2 mt-2 mb-2 p-4 justify-content-center">

    <!--Les cards-->
    <div class="col-xl-6 col-sm-12 col-12 text-center card-row" *ngFor="let unFilm of filmsResponses ? filmsResponses.results: []">

      <app-card-film [data]="unFilm"></app-card-film>

    </div>

  </div>

  <!-- Pagination -->
  <div class="row justify-content-center">
    <ul class="pagination justify-content-center">
      <!--
      -- Affichage du bouton 'First'
      -->
      <li class="page-item">
        <!-- Affichage du bouton 'First' en actif si la page actuelle est la première -->
        <a class="page-link" *ngIf="pageIndexActuel != 1" aria-label="First" (click)="this.donneMoiDesFilms({pageIndex: 1,
                                                                                                                  pageSize: taillePages,
                                                                                                                  length: taillePages})">
          <span aria-hidden="true">&laquo; &laquo;</span>
          <span class="sr-only">First</span>
        </a>

        <!-- Affichage du bouton 'First' en inactif si la page actuelle n'est pas la première -->
        <a class="page-link" *ngIf="pageIndexActuel == 1" aria-label="First" disabled="disabled">
          <span aria-hidden="true">&laquo; &laquo;</span>
          <span class="sr-only">First</span>
        </a>
      </li>

      <!--
      -- Affichage du bouton 'Previous'
      -->
      <li class="page-item">
        <!-- Affichage du bouton 'Previous' en inactif si la page actuelle est la première -->
        <a class="page-link" *ngIf="pageIndexActuel != 1" aria-label="Previous" (click)="this.donneMoiDesFilms({pageIndex: pageIndexActuel - 1,
                                                                                                                  pageSize: taillePages,
                                                                                                                  length: taillePages})">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>

        <!-- Affichage du bouton 'Previous' en actif si la page actuelle n'est pas la première -->
        <a class="page-link" *ngIf="pageIndexActuel == 1" aria-label="Previous" disabled="disabled">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <!-- Affichage des boutons 'Numéro' -->
      <li class="page-item" *ngFor="let page of nbPagesTotal" >
        <!-- Affichage du bouton 'X' en inactif si la page actuelle est la n°X -->
        <a class="page-link pageActuelle" *ngIf="page != '...' && page == pageIndexActuel" disabled="disabled">
          {{page}}
        </a>

        <!-- Affichage du bouton 'X' en actif si la page actuelle n'est pas la n°X -->
        <a class="page-link" *ngIf="page != '...' && page != pageIndexActuel" (click)="this.donneMoiDesFilms({pageIndex: page,
                                                                                                                pageSize: taillePages,
                                                                                                                length: taillePages})">
          {{page}}
        </a>

        <!-- Affichage du bouton '...' qui est inactif (juste déco) -->
        <a class="page-link" *ngIf="page == '...'" disabled="disabled">{{page}}</a>
      </li>

      <!--
      -- Affichage du bouton 'Next'
      -->
      <li class="page-item">
        <!-- Affichage du bouton 'Next' en actif si la page actuelle est la dernière -->
        <a class="page-link" *ngIf="pageIndexActuel != nbPagesTotal[nbPagesTotal.length -1]" aria-label="Next"
           (click)="this.donneMoiDesFilms({pageIndex: pageIndexActuel + 1,
                                             pageSize: taillePages,
                                             length: taillePages})">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>

        <!-- Affichage du bouton 'Next' en inactif si la page actuelle est la dernière -->
        <a class="page-link" *ngIf="pageIndexActuel == nbPagesTotal[nbPagesTotal.length - 1]" aria-label="Next" disabled="disabled">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>

      <!--
      -- Affichage du bouton 'Last'
      -->
      <li class="page-item">
        <!-- Affichage du bouton 'Last' en inactif si la page actuelle est la première -->
        <a class="page-link" *ngIf="pageIndexActuel != nbPagesTotal[nbPagesTotal.length - 1]" aria-label="First"
           (click)="this.donneMoiDesFilms({pageIndex: nbPagesTotal[nbPagesTotal.length - 1],
                                             pageSize: taillePages,
                                             length: taillePages})">
          <span aria-hidden="true">&raquo; &raquo;</span>
          <span class="sr-only">First</span>
        </a>

        <!-- Affichage du bouton 'Last' en actif si la page actuelle n'est pas la première -->
        <a class="page-link" *ngIf="pageIndexActuel == nbPagesTotal[nbPagesTotal.length - 1]" aria-label="First" disabled="disabled">
          <span aria-hidden="true">&raquo; &raquo;</span>
          <span class="sr-only">First</span>
        </a>
      </li>
    </ul>
  </div>

</div>
