.PanierTitle {
  padding: 0.5% 0;
  text-align: center;
}
.panierContainer {
  margin: 0 10%;
  min-height: 85.5vh;
}
mat-list.mat-list.mat-list-base {
  padding: 0 3%;
}
.total {
  padding: 0 3%;
}
.commander {
  text-align: right;
}
.plat-img-mini {
  height: 90px;
  width: 90px;
  margin-right: 15px;
  object-fit: contain;
}
.mat-list-item {
}
.mat-list-base .mat-list-item {
  height: 110px;
}
.plat-line-text {
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
}
.plat-quantite {
  display: flex;
}
.plat-prix {
  display: flex;
  margin-right: 2%;
}
.line-list {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0.25rem;
}
.main-container {
  padding: 30px;
}
.total-price {
  margin-left: auto;
}
.total-price-label {
  display: flex;
  margin-bottom: 20px;
}
.plat-action {
  display: flex;
  margin: auto;
}
.plat-action > div {
  margin: auto;
}
.filmTitle {
  margin: auto;
}
.divider {
  padding: 3% 0;
}
.noFilms {
  margin: 20px;
}
.noPlats {
  margin: 20px;
}
.montant {
  margin: 0 3%;
}
.montantZone {
  background: white;
  border-radius: 0.25rem;
  padding: 10%;
}
