 <div class="main-container panierContainer">
    <div class="row">
      <div class="col-7">
        <h5 mat-subheader>Films</h5>
        <div class="row noFilms" *ngIf="films.length === 0">Aucun film ajouté au panier</div>
        <div *ngIf="films.length > 0">

          <div class="row line-list"  *ngFor="let f of films">

            <div class="col-2"><a routerLink="/films/{{f.id}}" routerLinkActive="active"><img [src]="getFilmImg(f.poster_path) ? getFilmImg(f.poster_path) : '/assets/img/default-placeholder.png'" class="plat-img-mini"></a>

            </div>
            <div class="col-5 filmTitle">
              <span>{{f.original_title}}</span>
            </div>
            <div class="col-2 plat-action">
              <div>
                <button mat-button (click)="suppFilmPanier(f.id)">
                  supprimer
                </button>
              </div>
            </div>
            <div class="col plat-prix"><span class="plat-line-text">Prix: 6 €</span></div>
          </div>

        </div>
        <h5 mat-subheader>Plats</h5>
        <div class="row noFilms" *ngIf="plats.length === 0">Aucun plat ajouté au panier</div>
        <div *ngIf="plats.length > 0">
          <div class="row line-list" mat-line *ngFor="let p of plats">
            <!--<mat-icon mat-list-icon>note</mat-icon>-->
            <div class="col-2"><a routerLink="/plats/{{p.noPlat}}" routerLinkActive="active"><img [src]="p.img ? p.img : '/assets/img/default-placeholder.png'" class="plat-img-mini"></a></div>

            <div class="col-1 filmTitle">
              <span class="plat-line-text">{{p.nomPlat}}</span>
            </div>

            <div class="col-4 plat-action">
              <div>
                <button mat-icon-button aria-label="Ajouter" (click)="ajouterPlatPanier(p.noPlat)">
                  <mat-icon>add_circle</mat-icon>
                </button>
                {{p.quantite}}
                <button mat-icon-button aria-label="Enlever" (click)="suppPlatPanier(p.noPlat)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
            </div>

            <div class="col-2 plat-action">
              <div><button mat-button (click)="suppAllPlatPanier(p.noPlat)">Supprimer</button></div>
            </div>

            <div class="col plat-prix"><span class="plat-line-text">Prix: {{p.prix * p.quantite}} €</span></div>
            <!--<p mat-line> {{note.updated | date}} </p>-->
          </div>
        </div>
      </div>
      <div class="col montant">
        <h5 class="total">Récapitulatif :</h5>
        <div class="montantZone">
          <div class="total-price-label">Total :<span class="total-price">{{getTotal()}} €</span></div>
          <div class="commander">
            <button mat-stroked-button matStepperNext [disabled]="!(films.length>0) && !(plats.length>0)">Commander</button>
          </div>
        </div>

      </div>
    </div>



  </div>

