::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #b7cad294;
}
::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: #b7cad294;
}
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #b7cad294;
}
::ng-deep .mat-horizontal-stepper-header-container {
  background: #cdd6db75;
}
:host ::ng-deep .mat-horizontal-content-container {
  padding:0 !important;
  background: #cdd6db75;
}
mat-horizontal-stepper.mat-stepper-horizontal.ng-tns-c9-1.mat-stepper-label-position-end {
  margin: 0 10%;
  pointer-events: none !important;
}
.mat-horizontal-stepper-header{
  pointer-events: none !important;
}
