<div class="main-container">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [completed]="completePanier" [editable] = false>
      <ng-template matStepLabel>PANIER</ng-template>
      <app-panier (onComplete)="onCompletePanier($event)"></app-panier>
    </mat-step>
    <mat-step [completed]="completeLivraison" [editable] = false>
      <ng-template matStepLabel>LIVRAISON</ng-template>
      <app-livraison (onComplete)="onCompleteLivraison($event)"></app-livraison>
    </mat-step>
    <mat-step [completed]="false">
      <ng-template matStepLabel>VALIDATION</ng-template>
      <app-facturation></app-facturation>
    </mat-step>
  </mat-horizontal-stepper>
</div>
