  <div class="polaroid" *ngIf="img$">
    <a routerLink="/plats/{{data.noPlat}}" routerLinkActive="active">
      <img [src] = "img$ ? img$ : '/assets/img/default-placeholder.png'" class="img-fluid" style="width:100%; height: 200px;">
    </a>
    <div class="container">
      <p>{{data.nomPlat}}</p>
    </div>
  </div>

