<div class="adresseForm">
  <div>Veuillez saisir votre adresse de livraison</div>
  <form >
    <mat-form-field class="inputAdresse">
      <input required matInput placeholder="numero de rue" type="number" [(ngModel)]="adresse.nRue" name="nRue" >
    </mat-form-field>
    <mat-form-field class="inputAdresse">
      <input required matInput placeholder="nom de rue" [formControl] ="nomRueControl" [matAutocomplete]="auto1" [(ngModel)]="adresse.name">
      <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let s of filteredOptions" [value]="s.properties.name" (onSelectionChange)="onChangeNomRue(s)">
          {{s.properties.label}}
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>
    <mat-form-field class="inputAdresse">
      <input required matInput placeholder="ville" [(ngModel)]="adresse.city" name="ville">
    </mat-form-field>
    <mat-form-field class="inputAdresse">
      <input required matInput #postalCode maxlength="5" placeholder="code postale" value="38000" [(ngModel)]="adresse.postcode" name="cp">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field>
    <div class="text-center">
      <button mat-button (click)="saveCommande()">Enregistrer</button>
      <button mat-button matTooltip="Annuler" >Annuler</button>
    </div>

  </form>
</div>
<div class="divider"></div>
