<h1 class="align-content-center" mat-dialog-title><mat-icon>done_outline</mat-icon>CET ARTICLE A ÉTÉ AJOUTÉ À VOTRE PANIER</h1>
<div mat-dialog-content>
  <p>Vous avez ajouté {{data.name}} dans le panier!</p>
  <div class="text-center">
    <img [src]= "data.url" class="img">
  </div>
</div>
<div class="float-right" mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
