.card:hover{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow:0 .8rem 1rem rgba(0,0,0,.4)!important;
}

.card {
  /* HOVER OFF */
  -webkit-transition: all 0.2s ease-in-out;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title a {
  color: black;
  text-decoration: none;
}

.card-text {
  font-size: medium;
  max-height: 150px;
  overflow: hidden;
  text-overflow: clip;
  text-align: left;
  width: 270px;
  white-space: normal;
}

@media (min-width: 1200px) {
  .card {
    height: auto;
  }

  .div-card-img {
    height: 245px;
  }

  .card-img {
    width: auto;
    height: 244.98px;

    position: absolute;
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
  }

  .card-row {
    min-height: 400px;
    height: auto;
    width: auto;
  }

  .card-body {
    text-align: center;
    min-height: 178.4px;
  }

  .card-body-in {
    text-align: left;
    overflow: hidden;
  }

  .card-ingredients {
  }

  #text-p {
    margin-bottom: 0.1rem;
    padding-left: 6px;
  }

  .card-text {
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card {
    max-width: 800px;
    max-height: 200px;
    margin-bottom: 1px;
  }

  .card-img {
    width: 100%;
    height: 200px;
  }

  .card-row {
    width: 800px;
  }

  .card-text {
    width: 600px;
  }
}

@media (max-width: 991px) {
  .card {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }

  .card-img {
    width: 300px;
    height: 450px;
  }

  .card-row {
    width: 300px;
    height: auto;
  }

  .card-body {
    height: auto;
  }

  .card-title {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
  }

  .card-text {
    visibility: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0px;
  }

  .text-secondary {
    visibility: hidden;
    margin-bottom: 0px;
    height: 0px;

  }
}

@media (max-width: 360px) {
  .card-row {
    max-width: 100%;
  }

  .card {
    width: auto;
  }

  .card-img {
    width: auto;
    height: 300px;
  }

  .card-row {
    width: 200px;
    height: auto;
  }
}

