<div class="card mx-auto shadow" style="display: block">
  <div class="row no-gutters card-row">
    <div class="text-center div-card-img col-xl-12 col-lg-2 col-sm-12 col-12">
      <a routerLink="/plats/{{data.noPlat}}" routerLinkActive="active">
        <img [src]="img$ ? img$ : '/assets/img/default-placeholder.png'" class="card-img" alt="...">
      </a>
    </div>

    <div class="card-body col-xl-12 col-lg-10 col-sm-12 col-12">

        <h5 class="card-title"><a routerLink="/plats/{{data.noPlat}}" routerLinkActive="active">{{data.nomPlat}}</a></h5>

      <div class="row">
        <div class="card-body-left col-xl-6">
          <h6 class="card-ingredients">Ingrédients :</h6>
          <div class="card-text">
            <p id="text-p" class="text-secondary" *ngFor="let i of data.ingredients">{{i}}</p>
          </div>
        </div>
        <div class="card-body-right col-xl-6">
          prix: {{data.prix}}
        </div>
      </div>
    </div>
  </div>
</div>
