<div class="main-container facturation">
  <div class="text-center">
    <mat-icon>done_outline</mat-icon>
    <span>Votre commande est prise en compte!</span>
  </div>
  <div class="merci">
    <img src="/assets/img/Merci-Word-Art.png">
  </div>
  <div class="divider"></div>
  <div class="text-center commandeButton">
    <div class="row">
      <div class="col">
        <button mat-button routerLink="/commandes" routerLinkActive="active">Voir votre commande</button>

      </div>
      <div class="col">
        <button mat-button routerLink="/" routerLinkActive="active">Retourner</button>

      </div>
    </div>
  </div>
</div>
