<div class="card mt-3 mb-3 shadow" style="display: inline-block">
  <div class="row no-gutters card-row">
    <div class="col-xl-4 col-lg-2 col-sm-12 col-12">
      <a routerLink="/films/{{data.id}}" routerLinkActive="active">
        <img [src]="img" class="card-img" alt="...">
      </a>
    </div>

    <div class="col-xl-8 col-lg-10 col-sm-12 col-12">
      <div class="card-body">
        <h5 class="card-title" ><a routerLink="/films/{{data.id}}" routerLinkActive="active">{{data.title}}</a></h5>
        <h6 class="text-secondary">{{data.release_date}}</h6>
        <p class="card-text">
          <ng-template [ngIf]="isTailleDescrOK(data.overview)">{{data.overview}}</ng-template>
          <ng-template [ngIf]="!isTailleDescrOK(data.overview)">{{data.overview ? data.overview.substring(0,200).concat('...') : ''}}</ng-template>
        </p>
      </div>
    </div>
  </div>
</div>

