.card:hover{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow:0 .8rem 1rem rgba(0,0,0,.4)!important;
}
.card-title a {
  color: black;
  text-decoration: none;
}
.card {
  /* HOVER OFF */
  -webkit-transition: all 0.2s ease-in-out;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;

}

.card-text {
  font-size: smaller;
  margin-top:1.1rem;
  margin-bottom:1.1rem;
  max-height: 150px;
  overflow: hidden;
  text-overflow: clip;

  width: 270px;

  white-space: normal;
}

@media (min-width: 1200px) {
  .card {
    max-width: 475.33px;
    max-height: 244.98px;
  }

  .card-img {
    width: 163.33px;
    height: 244.98px;
  }

  .card-row {
    width: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card {
    max-width: 800px;
    max-height: 200px;
    margin-bottom: 1px;
  }

  .card-img {
    width: auto;
    height: 200px;
  }

  .card-row {
    width: 800px;
  }

  .card-text {
    width: 600px;
  }
}

@media (max-width: 991px) {
  .card {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }

  .card-img {
    width: 300px;
    height: 450px;
  }

  .card-row {
    width: 300px;
    height: auto;
  }

  .card-body {
    height: auto;
  }

  .card-title {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
  }

  .card-text {
    visibility: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0px;
  }

  .text-secondary {
    visibility: hidden;
    margin-bottom: 0px;
    height: 0px;

  }
}

@media (max-width: 360px) {
  .card {
    width: auto;
  }

  .card-img {
    width: auto;
    height: 300px;
  }

  .card-row {
    max-width: 100%;
    width: 200px;
    height: auto;
  }
}

